/**
 * Base SCSS
 */
 #masthead{
     position: relative;
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }
    
    .bg path:first-child {
        opacity: 0.15;
    }
    
    .bg path:nth-child(2) {
        opacity: 0.15;
    }
    
    .bg path:nth-child(3) {
        opacity: 0.15;
    }
    
    .bg path:nth-child(4) {
        opacity: 0.15;
    }
    
    .bg path:nth-child(5) {
        opacity: 0.15;
    }
    
    .bg path:nth-child(6) {
        opacity: 0.15;
    }
    
    .bg path:nth-child(7) {
        opacity: 0.15;
    }
	height:70vh;
	background-size:cover;
    background-position: top left;
    background:linear-gradient(45deg, rgba(72,0,255,1) 0%, $blue 100%);
	color:#FFF;
	display:flex;
	align-items: center;
	padding-bottom:5rem;
	background-attachment: fixed;
	h1{
		font-size:4rem;
		line-height:1;
		color:#FFF;
        margin-bottom:1rem;
		margin-top:0;
		overflow: hidden;
		>div > div{
			margin-left:1rem;
			display: inline-block;
			&:first-of-type{
				margin-left:0;
			}
		}
		span{
			display: inline-block;
  transform-origin: 0 0;
		}
		@media screen and (max-width:991px){
			font-size:3rem;
		}
	}
	.sub{
		margin:1rem 0;
	}
	.content{
		margin-top:6rem;
	}
	.btn.white{
		margin-right:2rem;
	}
	@media screen and (max-width:575px){
		height:90vh;
	}
}

#home-work{
	padding:10rem 0;
	@media screen and (max-width:991px){
		padding:3rem 2rem;
	}
	@media screen and (max-width:575px){
		padding:1rem;
	}
	h2{
        margin-bottom:5rem;
	}
	.home-work-container{
		margin:0 auto;
		position: relative;
		max-width:1500px;
		@media screen and (max-width:1499px){
			max-width:1200px;
		}
	}
	.blob-container{
		width:100%;
		height:100%;
		z-index: 2;
		background-color: #FFF;
		position: relative;	
		padding:5rem 0;	
		overflow: hidden;
		box-shadow:-20px 20px 20px rgba($blue,0.1);
		.blob{
			height:100%;
			width:100%;
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			margin:0 auto;
			@media screen and (max-width:575px){
				height:800px;
				width:800px;
			}
			svg{
				z-index: 2;
				width:100%;
				height:100%;
			}
		}
		.container{
			z-index: 3;
		}
	}
	.underlay{
		position: absolute;
		height:100%;
		width:100%;
		background-color: transparent;
background-image: url("data:image/svg+xml,%3Csvg width='7.5' height='7.5' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235e7ce2' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
		z-index: 0;
		bottom:-20px;
		left:-20px;
	}
}

#home-blog{
	background-color:$dark-gray;
	padding:10rem 0;
	position: relative;
    h2{
        margin-bottom:5rem;
        color:#FFF;
	}
	.blog-blob{
		height:100%;
		width:100%;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		@media screen and (max-width:767px){
			width:800px;
			height: 800px;
			top:0;
			left:-50%;
			bottom:0;
			right:0;
		}
		svg{
			z-index: 1;
			width:100%;
			height:100%;
			position: absolute;
			@media screen and (max-width:767px){
				path{
					fill-opacity:1;
					fill:#000;
				}
				
			}
		}
	}
	.container{
		z-index: 3;
		position: relative;
	}
}

#about{
	margin-top:2rem;
	padding:5rem 0 2rem;
	@media screen and (max-width:575px){
		.text{
			padding:2rem 2rem 0;
		}
		.square{
			width:300px;
			height:450px;
			//background-color:rgba($blue,0.1);
			top:-25px;
			left:0;
		}
	}
	h2{
		font-size:3rem;
	}
	.sub{
		color:$blue;
		&.line:after{
			background-color:$blue;
		}
	}
	.image {
		padding-left:50px;
		img{
			border-radius:50%;
			position: relative;
		}
	}
	.row{
		padding-top:50px;	
	}
	p{
		margin-bottom:1rem;
	}
	.square{
		height:400px;
		width:450px;
		border-radius:8px;
		position: absolute;
		background-color:rgba($blue,0.05);
		z-index: 0;
		left:15px;
		top:-50px;
	}
	a{
		@extend .sub;
		color:$dark-gray;
		display:flex;
		align-items: center;
		margin:1rem 0;
		svg{
			height:20px;
			width:20px;
			fill:$dark-gray;
			margin-right:0.5rem;
		}
	}
}

#contact{
	width:100%;
	background-size:cover;
	background-position: left top;
	padding:5rem 0;
	margin:5rem 0 0;
	position: relative;
	h2{
		font-size:3rem;
	}
	.sub{
		color:$blue;
		&.line:after{
			background-color:$blue;
		}
	}
	.text-wrapper{
		position: relative;
	}
	.wpcf7  label {
		position: absolute;
		top: 2.75rem;
		left: 20px;
		transition: all .1s ease-in-out;
		z-index: 1;
		@extend .sub;
		}
	.wpcf7 label.move {
		font-size: 10px;
		top: 1.75rem;
		left: 15px;
	}
	input[type=text], input[type=email], textarea{
		background-color:#FFF;
		border-radius:8px;
		padding:1.2rem 1rem 1rem;
		width:100%;
	}
	input[type=submit]{
		margin-top:1rem;
		@extend .btn;
		@extend .btn.solid;
	}
}

#blog-header{
	color:#FFF;
	background-size:cover;
	background-position: center;
	position: relative;
	min-height:70vh;
	padding:5rem 0;
	width:100%;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
	background-color:$dark-gray;
	.container{
		position: relative;
		z-index: 2;
	}
	.blog-blob{
		height:100%;
		width:100%;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		@media screen and (max-width:767px){
			width:800px;
			height: 800px;
			top:0;
			left:-50%;
			bottom:0;
			right:0;
		}
		svg{
			z-index: 1;
			width:100%;
			height:100%;
			top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
			position: absolute;
		}
	}
	@media screen and (max-width:991px){
		min-height:80vh;
	}
	h1{
		color:#FFF;
		font-size:4rem;
		margin:1rem 0;
		overflow: hidden;
		>div > div{
			margin-left:1rem;
			display: inline-block;
			&:first-of-type{
				margin-left:0;
			}
		}
		@media screen and (max-width:991px){
			font-size:2.5rem;
		}
		span{
			display: inline-block;
  transform-origin: 0 0;
		}
	}
	.sub{
		position: relative;
	}
	
	.content{
		border:1px solid #FFF;
		padding:5rem;
		border-radius: 8px;
		max-width:700px;
		margin:0 auto;
		@media screen and (max-width:991px){
			padding:2rem;
		}
	}
}
#blog-posts{
	margin:-3rem auto 5rem;
	.post-preview{
		margin-bottom:2rem;
	}
}

#work-header{
	background-color:$dark-gray;
	color:#FFF;
	width:100%;
	position: relative;
	overflow: hidden;
		.blob{
			height:100%;
			width:50%;
			position: absolute;
			top:-6rem;
			left:-2rem;
			margin:auto;
			@media screen and (max-width:767px){
				width:800px;
				height: 800px;
				top:0;
				left:-50%;
				bottom:0;
				right:0;
			}
			svg{
				z-index: 2;
				width:100%;
				height:100%;
				@media screen and (max-width:767px){
					path{
						fill-opacity:1;
						fill:#000;
					}
					
				}
			}
		}
	h1{
		color:#FFF;
		margin:1rem 0;
		font-size:2.5rem;
	}
	.regular-text{
		margin-bottom:2rem;
		
	}
	a#btn-0{
		@extend .btn;
		@extend .btn.solid;
	}
	.col-12{
		height:100%;
		padding-top:8rem;
		padding-bottom:6rem;
	}
	.content{
		padding-right:5rem;
		z-index: 2;
		position: relative;
		@media screen and (max-width:767px){
			padding:0;
		}
	}
	.image{
		width:50%;
		height:100%;
		@media screen and (max-width:767px){
			width:100%;
			opacity:0.25;
			z-index: 1;
		}
		.gatsby-image-wrapper{
			height: 100% !important;
			width:100%;
		}
		position: absolute;
		z-index: 2;
		right: 0;
		top:0;
	}
	
}

#work-main{
	margin:5rem 0;
	position: relative;
	> .container > .row{
		position: relative;
	}
	.glance{
		margin-top:5rem;
		margin-bottom:8rem;
	}
	.work-body{
		background-color:#FFF;
		box-shadow:10px 10px 20px rgba(#000,0.05);
		padding:5rem;
		@media screen and (max-width:575px){
			padding:3rem 2rem;
		}
	}
	.sidebar{
		padding-top:2rem;
		padding-bottom:2rem;
		border-right:1px solid $blue;
		a{
			width:100%;
			display: block;
			@extend .sub;
			margin-bottom:1rem;
		}
	}
	.work-section{
		margin-top:3rem;
		&:first-of-type{
			margin-top:0;
		}
		h2,h3{
			margin-bottom:1rem;
		}
		h3{
			margin-top:2rem;
			font-size:2.2rem;
		}
	}
}

.sidebar{
	@media screen and (min-width:992px){
		position:sticky;
		top:0;
		height:100%;
	}

}
.categories-wrap{
	border-left:1px solid $light-gray;
	padding-left:1rem;

	margin-top:2rem;
	a{
	}
	ul, li{
		list-style-type: none;
	}
	@media screen and (max-width:992px){
		margin-bottom:2rem;
	}
}
.search-wrapper{
	position: relative;
	input{
		background:rgba(#FFF,0.8);
		width:100%;
		padding:1rem 0 1rem 1rem;
		backdrop-filter:blur(20px);
		border-radius:8px;
	}
	.search-icon{
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		margin:auto;
		display: flex;
		align-items: center;
	}
	margin-bottom:1rem;
}
.navigation.pagination{
	h2{
		display:none;
	}
	a{
		font-weight:700;
	}
	.nav-links a, .nav-links span{
		margin:0 0.2rem;
	}
}
#post-header{
	position: relative;
	margin-bottom:4rem;
	height:500px;
	display: flex;
	align-items: flex-end;
	.background{
		height:500px;
		position: absolute;
		width:100%;
		background-size:cover;
		background-color:$dark-gray;
		img, .gatsby-image-wrapper{
			height:100%;
			width:100%;
			object-fit: cover;
		}
	}
	

	.share-button{
		&:hover{
			transition: 250ms all ease;
			color:$blue;
			svg{
				fill:$blue;
			}
		}
		svg{
			height:20px;
			width:20px;
		}
	}
	.content{
		position: relative;
		background-color:rgba($dark-gray,0.9);
		padding:3rem;
		width:100%;
		display:flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		color:#FFF;
		backdrop-filter: blur(5px);
		margin-bottom:-3rem;
		overflow:hidden;
		svg{
			fill:$dark-gray;
		}
		.blob{
			width:600px;
				height: 600px;
			position: absolute;
			top:0;
			left:-25%;
			bottom:0;
			margin:auto;
			@media screen and (max-width:767px){
				width:800px;
				height: 800px;
				top:0;
				left:-50%;
				bottom:0;
				right:0;
			}
			svg{
				z-index: 2;
				width:100%;
				height:100%;
				position: absolute;
				@media screen and (max-width:767px){
					path{
						fill-opacity:1;
						fill:#000;
					}
					
				}
			}
		}
		@media screen and (max-width:991px){
			padding:2rem;
		}
		h1{
			font-size:3rem;
			margin:0 0 1rem;
			line-height: 1.2;
			font-weight:700;
			color:#FFF;
			z-index: 2;
		}
		.sub{
			color:#FFF;
			z-index: 2;
		}
		.arrow-btn{
			z-index: 2;
		}
	}
}
.blog-content{
	padding-top:3rem;
	.regular-text{
		color:rgba($dark-gray,0.9);
		h2,h3{
			font-weight:500;
		}
		a{
			color:$blue;
		}
	}
}
#post{
	padding:1rem 0 4rem;
	p{
		margin-bottom:2rem;
	}
}