/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */
 $dark-blue: #4800ff;
 $medium-blue:#533EF1;
 $blue: #5E7CE2;
 $dark-gray: #00171F;
 $light-gray: rgba(#00171F,0.85);