/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */
 $blue: #5E7CE2;
 $dark-gray: #00171F;
 $light-gray: rgba(#00171F,0.75);